.select_css {
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 15pt;
    outline: none;
}

.select_css .Option {
    background-color: #000;
    color: white;
    font-size: 15pt;
    padding: 10px;
}

.select_css_light {
    cursor: pointer;
    background: transparent;
    color: blakc;
    font-size: 15pt;
    outline: none;
}